.options-dashboard {
    position: fixed;
}

.aside-dashboard {
    background-color: #2C364C;
}

button.btn-create {
    background-color: #163A70;
    color           : white;
}
a.btn-create {
    background-color: #163A70;
    color           : white;
}

.btn-options {
    background-color: #163A70;
    color           : white;
    padding-left    : 5px;
    padding-right   : 5px;
    padding-top     : 4px;
    padding-bottom  : 4px;
    border-radius: 4px;
    margin-left     : -7px;

}

.dropdown-background {
    background-color: #2C364C;

}

.title-module {
    color: #2c364c !important;
}

.module-items-row {
    position    : relative;
    margin-right: auto;
    margin-left : auto;
}

.module-item {
    background   : linear-gradient(45deg, #0799EF, #0073B7);
    border-radius: 6px;
    color        : #ffff;

    width: 300px;
}

.module-title {
    text-align : center;
    font-size  : 40px;
    font-weight: lighter;
    font-style : normal;
}

.module-description {
    margin-right: 20px;
    margin-left : 20px;
    text-align  : start;

}

.module-bg-triangle {
    width: 295px !important;
}

a.btn-panel-admin {
    border: none;

}